<p>Dear Altum Staff</p>
<br/>
<br/>
<p>You have received an Altum CMS Communication Note for our client:</p>
<p>Patient Name: <%=client%><br/>Claim Number: <%=claim%></p><br/>
<P>You can access this client and the corresponding Communication Note at:</P>
<p><%=msg%></p>
<p><%=url%></p>
<br/>
<p><em>Thank you for your assistance with this client’s care</em></p>
<p>Best regards,<br/><%=senderName%></p>
<br/>
<br/>
<p>
    This e-mail may contain confidential and/or privileged information for the sole use of the intended recipient.
    Any review or distribution by anyone other than the person for whom it was originally intended is strictly prohibited.
    If you have received this e-mail in error, please contact the sender and delete all copies.
    Opinions, conclusions or other information contained in this e-mail may not be that of the organization.
</p>
